<div id="vcomment" class="comment"></div>
<script src='https://unpkg.com/valine@1.5.3/dist/Valine.min.js'></script>
<script>
  new Valine({
    el: '#vcomment',
    appId: "<%= theme.valine.appid %>",
    appKey: "<%= theme.valine.appkey %>",
    serverURLs: "https://ktthwk27.lc-cn-n1-shared.com",
    placeholder: "<%= theme.valine.placeholder %>",
    avatar: "<%= theme.valine.avatar %>",
  });
</script>
