body,
html {
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #000;
}

canvas {
    width: 100vw;
    height: 100vh;
}

dialog {
    width: 100%;
    text-align: center;
    max-width: 20em;
    color: white;
    background-color: #000;
    border: none;
    position: fixed;
    transform: translate(-50%, -50%);
}

#progress-container {
    position: absolute;
    top: 50%;
    left: 50%;
}

progress {
    position: absolute;
    width: 150%;
    height: 1em;
    border: none;
    background-color: rgba(0,0,0,0);
    color: #eee;
}

progress::-webkit-progress-bar {
    background-color: #333;
}

progress::-webkit-progress-value {
    background-color: #eee;
}

progress::-moz-progress-bar {
    background-color: #eee;
}
.modal {
    display: none;
    position: absolute;
	top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: rgba(0,0,0,0);
    color: white;
    padding: 20px;
    z-index: 1000; /* 确保在最顶层 */
	max-width: 80%;
}
.modal p {
    text-align: center;
}

